.pm-add {
    position: absolute;
    top: -15px;
    left: 0;
    bottom: 0;
    right: 0;
}
.pm-card {
    width: 0px;
    float: left;
    position: relative;
}

.pm-add label {
    display: -webkit-box;
}

.pm-add label h3 {
    margin-left: 10px;
}

h1 {
    margin: 0;
}