.queue-card {
    border: 1px solid #e2e2e2;
    min-width: 400px;
    max-height: 70vh;
    overflow: auto;
    width: 50%;
    padding: 10px;
}

.calculator-card {
    margin: auto;
    display: flex;
}

.seats-card {
    margin-left: 1rem; 
    border: 1px solid #e2e2e2;
    min-width: 400px;
    max-height: 70vh;
    overflow: auto;
    width: 50%;
    padding: 10px;
}

.headerTable {
    display: inline-block;
}